* {
    font-family: "Raleway";
    text-decoration: none;
    margin:0%;
}

.menu{
    display:flex;
    padding-left: 10px;
    background-color: rgba(214, 214, 214, 0.689);
}

.menus{
   padding-top: 30px;
   position: absolute;
   margin-left: 100px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding-top: 10px;
 }

 .button{
    border-radius: 5px;
    border-color: #a0a0a0;
    height: 40px;
    background-color: rgb(247, 238, 244);
    width: 100px;
  
  }

  .form{
    align-content: center;
    text-align: center;
    padding: 15px;
}

.label-title{
    padding: 10px;
    font-size: 20px;
}

.form-input{
    width: 500px;
    text-align: center;
    margin-bottom: 15px;
}

.msg{
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

#private{
    width: 200px;
    margin-bottom: 40px;
}

#description{
    height: 100px;
    text-align: left;

}

#city-center{
    text-align: center;
    justify-content: center;
}
#home{
    color: #626060;
    padding: 10px;
}

#signin{
    padding: 10px;
    color: #626060;

}

#signup{
    padding: 10px;
    color: #626060;
}

#party{
    padding: 10px;
    color: #626060;
}

#img{
    padding-right: 50px;
   

}

#pe{
    text-align: right;
    justify-items: center;
    margin-top: 25%;
    padding-top: 50px;
    padding-right: 20px;
    height: 70px;
    background-color: rgba(214, 214, 214, 0.689);
}

#content{
    padding: 10px;
}

.title{
/* padding-left: 45%; */
    align-content: center;
    text-align: center;
    font-size: 25px;
    height: 30px;
   
}

.conteudo{
    align-content: center;
    text-align: center;
    height: 50px;

}


#cabeca{
    align-content: center;
    text-align: center;
    font-size: 40px;
}

#cards{
    
    border-radius: 5px;
     box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
     padding: 30px;
     max-width: 20%;
     min-width: 18%;
     margin: .5%;
     height: 350px;
     
     /* transition: all 0.3s ease-out; */
 }

 

  .buttons{
    
    text-align: center;
    justify-content: center;
    padding-top: 50px;
  }



  #search_button{
    border-radius: 5px;
    border-color: #a0a0a0;
    height: 40px;
    background-color: rgb(247, 238, 244);
    /* margin-left: auto;
    margin-right: auto; */
    padding: 10px;
    margin-left:45%;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  #search{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    text-align: center;
    display:flex;
    height: 30px;
    border-radius: 10px;
    border-color: #a0a0a0;
  }

  #searching{
    background-color: rgba(214, 214, 214, 0.689);
    width: 100%;
    height: 250px;
    padding-top: 10px;
    margin-bottom: 50px;
    border-radius: 10px;
  }

  #center_search{
    margin-top: 50px;
  }

#img-card{
    text-align: center;
}



.content-org{
    display: flex;
    margin-top: 35px;
}

.party-org{
    text-align: left;
}

.img-org{
    margin-right: 25px;
}

#text-title{
    text-align: center;
    font-size: 32px;
    padding-bottom: 10px;
}


.join_button{
    border-radius: 5px;
    border-color: #a0a0a0;
    height: 40px;
    background-color: rgb(247, 238, 244);
    /* margin-left: auto;
    margin-right: auto; */
    padding: 10px;
    margin-left:45%;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  #button-org{
    border-radius: 5px;
    border-color: #a0a0a0;
    /* height: 40px; */
    background-color: rgb(247, 238, 244);
    /* margin-left: auto;
    margin-right: auto; */
    padding: 10px;
    margin-left:45%;
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
  }


  .party_content{
    align-content: center;
    text-align: center;
    padding: 15px;
  }